# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# builded static files
i18n/

# IDE settings
.idea/

# firebase
.firebase